body {
    font-family: "Garamond", Serif;
    background-color: #8d9a80;
    color: white;
    margin-top: auto;
}
header{
    font-size: 30px;
    text-align: center;
    margin: auto;
}
h1 {
    font-size: 50px;
    text-align: center;
    margin: auto;
}
h2{
    font-size: 28px;
    
}
a:link {
    color:antiquewhite;
}
a:hover {
    color:#8a6ba8;
}
a:visited {
    color:#8a6ba8;
}
